.login-figma {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .top {
        display: flex;
        align-items: flex-end;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: auto;
        margin-left: 200px;
        margin-top: 50px;


        .left {
            width: 26.82px;
            height: 23.05px;
            border-radius: 20px;
            background: #9C69E2;
        }

        .right {
            width: 26.82px;
            height: 40.34px;
            border-radius: 20px;
            background: #F063B8;



        }
    }



    form {
        display: flex;
        flex-direction: column;
        align-items: center;


        h1 {

            font-weight: 100;
            font-size: 64px;
            line-height: 102.4px;
            letter-spacing: 0.5%;
            align-content: center;
        }

        .input {


            #username {
                width: 390px;
                height: 57px;
                border: 1px solid black;
                border-radius: 6px;
                padding: 10px;

            }

            #username::placeholder {
                font-size: 18px;
                opacity: 0.8;
            }

            #password {
                width: 390px;
                height: 57px;
                border: 1px solid black ;
                border-radius: 6px;
                margin-top: 20px;
                padding: 10px;
            }

            #password::placeholder {
                font-size: 18px;
                opacity: 0.8;
                
            }

            .error {

                color: red;
                font-size: 16px;
                width: 70%;
                opacity: 0.9;

            }

           

        }
        button {
            width: 400px;
            height: 53px;
            border-radius: 50px;
            background: #9C69E2;
            border: none;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
            cursor: pointer;

        }

    }


}